<%- include('header') -%>

<div class="min-h-screen container mt-5 d-flex p-5 justify-content-center">
  <div class="card col-7 justify-content-center rounded">
    <h1 class="display-5 text-center mb-2 rounded">All Projects:</h1>
    <hr />
    <div class="card-body d-flex flex-column align-items-center">
      <% if(allAudios.length==0){%>
      <h3>Currently you don't have any project!</h3>
      <% } %> 
      <% for(let i=0; i < allAudios.length; i++) { %>
        <div class="flex justify-between border border-gray-400 mx-10 mb-5 p-2 rounded-lg">
            <!-- <div class="card-body">
            <h2 class="display-6 text-center mb-5"><%=allAudios[i].name %></h2>
            <div class="row justify-content-center">
                <a
                class="col-6 text-center"
                href="/play_music/<%= allAudios[i].id%>"
                ><button class="btn btn-primary">Full Details</button></a
                >
            </div>
            </div> -->
            <a href="/play_music/<%= allAudios[i].id%>">
              <div class="text-lg flex items-center">
                <span>
                  <img src="/play.svg">
                </span>
                <%= allAudios[i].name ?? "Untitled" %>
              </div>
            </a>
            <div class="flex items-center">
              <a class="hidden" href="/rename/<%= allAudios[i].id%>">
                <img src="/rename.svg">
              </a>
              <a href="/delete/<%= allAudios[i].id%>">
                <img src="/delete.svg">
              </a>
            </div>
        </div>
      <% } %>
    </div>
  </div>
</div>

<form method="get" action="/upload_file">
  <button
    class="fixed bottom-[40px] right-[40px] bg-[#231c60] text-white rounded-full text-3xl p-4 mt-0 pt-2 pb-2 flex items-center"
    type="submit"
  >
    +
  </button>
</form>
<%- include('footer') -%>
