<%- include('header') %>
<script>
  var AUDIO_ID = "<%= audio_id %>";
  var currentMinute, currentSecond;
</script>
<link rel="stylesheet" href="/play.css">
<script src="/socket.io/socket.io.js" defer></script>
<script src="/play.js" defer></script>
<!-- <h1 class="display-6 text-center mb-5 mt-5"><%= Audio.name %></h1> -->

<div id="music-player">
  <div id="slider"></div>
</div>
<div class="h-screen">
  <div class="mt-5">
    <div class="shadow">
      <div>
        <audio controls autoplay id="audio" class="col-12">
          <source
            src="/audio/<%= filename%>"
            id="mp3-player"
            type="audio/mp3"
          />
        </audio>
      </div>
    </div>
  </div>
  <div id="current-comment"></div>
  <div class="mt-5">
    <div class="shadow col-6">
      <h2 class="text-center mb-5 mt-5" id="result"></h2>
      <%- include('comments') %>
    </div>
  </div>

  <div class="flex justify-center items-center">
    <input class="border p-2 border-black rounded-lg w-3/4 lg:w-1/2" type="text" placeholder="Search tags" id="search-bar" name="search">
    <button class="bg-[#231c60] text-white rounded-full text-3xl p-2 mt-0 flex items-center" id="search-button">
      <img src="/search.svg">
    </button>
  </div>
  <div id="all-comments"></div>
</div>
<%- include('footer') %>
