<%- include('header') %>
<script>
  var AUDIO_ID = "<%= audio_id %>";
  var currentMinute, currentSecond;
  console.log(audio);
</script>
<link rel="stylesheet" href="/play.css">
<script src="/socket.io/socket.io.js" defer></script>
<script src="/play.js" defer></script>
<!-- <h1 class="display-6 text-center mb-5 mt-5"><%= Audio.name %></h1> -->

<div id="music-player">
  <div id="slider"></div>
</div>
<div class="h-screen">
  <div class="mt-5">
    <div class="shadow">
      <div>
        <audio controls autoplay id="audio" class="col-12">
          <source
            src="/audio/<%= filename%>"
            id="mp3-player"
            type="audio/mp3"
          />
        </audio>
      </div>
    </div>
  </div>
  <div class="mt-5">
    <div class="shadow col-6">
      <h2 class="text-center mb-5 mt-5" id="result"></h2>
      <%- include('comments') %>
    </div>
  </div>
  <div id="all-comments"></div>
</div>
<%- include('footer') %>
